<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740790213926-1ktsjmruh5lbdqkvnamrbfqqqu0114ap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740790213926-1ktsjmruh5lbdqkvnamrbfqqqu0114ap</string>
	<key>API_KEY</key>
	<string>AIzaSyCj0jNsooURJwR7zKvwZSNMAJMlSoysPYA</string>
	<key>GCM_SENDER_ID</key>
	<string>740790213926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cursoflutter.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-179ed</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-179ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740790213926:ios:36a394d82580adadd2b5e7</string>
</dict>
</plist>